@charset "utf-8";
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,div,form,input{margin:0;padding:0;}
ul,ol{list-style:none;}
img{border:none;}
a{text-decoration:none;color:#3c3c3c;}
body{
	font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	background:url('../../images/botbg.png') no-repeat 0 0/cover fixed;

}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
.clearfix{zoom:1;}
a:hover{
	color:#3c3c3c;
}
/* #box{
	position:relative;
	width:100%;

} */
::selection{
	background-color:#c4c4c4;
	color:#f5f5f5;
}
.fl-l{	float:left;}
.fl-r{	float:right;}
/*����������߿����� �߿�ֱ��Ӧ�����������ĳߴ�*/  
::-webkit-scrollbar  
{  
    width: 7px;  /*���������*/
    height: 7px;  /*�������߶�*/
}  
  
/*������������ ����Ӱ+Բ��*/  
::-webkit-scrollbar-track  
{  
	-webkit-box-shadow: inset 0 0 6px rgba(0,128,255,0.6);  
   box-shadow: inset 0 0 20px rgba(158,158,158,0.6);  
    border-radius: 2px;  /*�������ı��������Բ��*/
    background-color: #ececec;/*�������ı�����ɫ*/  
}  
  
/*���廬�� ����Ӱ+Բ��*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 2px;  /*��������Բ��*/
	-webkit-box-shadow: inset 0 0 20px rgba(0,64,64,.6);  
    box-shadow: inset 0 0 20px rgba(0,64,64,.6);  
    background-color:#0C5D7C;  /*�������ı�����ɫ*/
}
#top.bodyscroll{
	overflow-y: hidden;
}